body
{
    font-family: "Josefin Sans", sans-serif !important;
}
.section-one
{
    background-color: rgb(230, 225, 218);
    border-top: 3px solid whitesmoke;
}
.text.form-control
{
    /* border-top: 3px solid whitesmoke; */
    border: 2px solid wheat;
}